<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ sinav_adi }}</h1><br>
    <strong>Soru 1:</strong> <br>
    <strong>{{soru_1}}</strong> <br><br>
    <form>
      <input type="radio" id="soru_1_a" name="soru_1_" value="a">
      <label for="soru_1_a">{{soru_1_aa}}</label><br>
      <input type="radio" id="soru_1_b" name="soru_1_" value="b">
      <label for="soru_1_b">{{soru_1_bb}}</label><br>
      <input type="radio" id="soru_1_c" name="soru_1_" value="c">
      <label for="soru_1_c">{{soru_1_cc}}</label><br>
      <input type="radio" id="soru_1_d" name="soru_1_" value="d">
      <label for="soru_1_d">{{soru_1_dd}}</label><br>
      <input type="radio" id="soru_1_e" name="soru_1_" value="e">
      <label for="soru_1_e">{{soru_1_ee}}</label>
    </form>

    <br><br>
    <strong>Soru 2:</strong> <br>
    <strong>{{soru_2}}</strong> <br><br>
    <form>
      <input type="radio" id="soru_2_a" name="soru_2_" value="a">
      <label for="soru_2_a">{{soru_2_aa}}</label><br>
      <input type="radio" id="soru_2_b" name="soru_2_" value="b">
      <label for="soru_2_b">{{soru_2_bb}}</label><br>
      <input type="radio" id="soru_2_c" name="soru_2_" value="c">
      <label for="soru_2_c">{{soru_2_cc}}</label><br>
      <input type="radio" id="soru_2_d" name="soru_2_" value="d">
      <label for="soru_2_d">{{soru_2_dd}}</label><br>
      <input type="radio" id="soru_2_e" name="soru_2_" value="e">
      <label for="soru_2_e">{{soru_2_ee}}</label>
    </form>

    <br><br>
    <strong>Soru 3:</strong> <br>
    <strong>{{soru_3}}</strong> <br><br>
    <form>
      <input type="radio" id="soru_3_a" name="soru_3_" value="a">
      <label for="soru_3_a">{{soru_3_aa}}</label><br>
      <input type="radio" id="soru_3_b" name="soru_3_" value="b">
      <label for="soru_3_b">{{soru_3_bb}}</label><br>
      <input type="radio" id="soru_3_c" name="soru_3_" value="c">
      <label for="soru_3_c">{{soru_3_cc}}</label><br>
      <input type="radio" id="soru_3_d" name="soru_3_" value="d">
      <label for="soru_3_d">{{soru_3_dd}}</label><br>
      <input type="radio" id="soru_3_e" name="soru_3_" value="e">
      <label for="soru_3_e">{{soru_3_ee}}</label>
    </form>
    <br><br>
    <a href="/giris"><input type="submit" value="Sınavı Bitir"/></a>
</body>
</html>